.env
__pycache__/
venv/
*~
model_server/src/output/player-feature-retrieval-debug/*.log
.venv/
model_training_notebooks//src/rnn_data/*.csv
model_training_notebooks//*csv
.python-version

# macOS
.DS_Store
**/.DS_Store
model_training_notebooks/*.csv
