.env
__pycache__/
venv/
*~
model_server/src/output/player-feature-retrieval-debug/*.log
.venv/
model_training_notebooks//src/rnn_data/*.csv
model_training_notebooks//*csv
.python-version
.coverage

# macOS
.DS_Store
**/.DS_Store
model_training_notebooks/*.csv

# AI 
*.codex 
*.claude

model-training-notebooks/*.csv
data/*.parquet
model_shared/test_data/*.pt
evaluations/pitch_rnn/eval_output/*